/* --- FONTS --- */
@font-face {
  font-family: GeorgiaPro;
  src: url(../Fonts/GeorgiaPro-Bold.ttf);
}
@font-face {
  font-family: SignPainter;
  src: url(../Fonts/SVN-Sign-Painter-House-Script.otf);
}
@font-face {
  font-family: HelveticaneueBold;
  src: url(../Fonts/helveticaneuebold.ttf);
}
@font-face {
  font-family: Helveticaneue;
  src: url(../Fonts/helveticaneue.ttf);
}
/* --- COLOR PALETTE --- */
/*--- COLOR PAGE ---*/
html {
  height: 100%;
  width: 100%;
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: Helveticaneue;
  color: #4E4E4E;
}
.form-control:focus,
select:focus,
button:focus,
button:active,
.btn:focus,
.page-link:focus {
  outline: none !important;
  box-shadow: none !important;
}
ul {
  list-style-type: none !important;
  padding: 0;
  margin: 0;
}
a {
  transition: 0.5s;
  color: inherit;
}
a:hover {
  color: #ED2439;
}
a:hover,
a:focus,
a:active {
  outline: none;
  text-decoration: none;
}
::selection {
  background-color: #ED2439;
  color: #FFFFFF;
}
/* Back to top */
.back-to-top {
  position: fixed;
  display: none;
  background: #ED2439;
  color: #FFFFFF;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: all 0.25s linear;
  opacity: 0.5;
  z-index: 11;
}
.back-to-top:hover {
  opacity: 1;
  transform: scale(1.25);
}
.back-to-top i {
  padding-top: 12px;
  color: #FFFFFF;
}
/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #ED2439;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 0.75s linear infinite;
  animation: animate-preloader 0.75s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1199.98px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 767.98px) {
  body {
    font-size: 0.875rem;
  }
}
/*---# Header---*/
#header {
  padding: 30px 0;
  /*height: auto;*/
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 997;
  /*transition: all 0.25s linear;*/
}
#header .logo-header {
  float: left;
  display: none;
}
#header .logo-header img {
  height: 50px;
  margin-top: -8px;
}
#header .logo-full {
  width: 100%;
  display: block;
  text-align: center;
}
#header .logo-full img {
  height: 85px;
}
#header #nav-menu-container {
  float: unset;
  margin: 0;
  margin-top: 30px;
}
#header #nav-menu-container .nav-menu,
#header #nav-menu-container .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header #nav-menu-container .nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}
#header #nav-menu-container .nav-menu li {
  position: relative;
  white-space: nowrap;
}
#header #nav-menu-container .nav-menu > li {
  float: left;
}
#header #nav-menu-container .nav-menu a {
  padding: 4px 8px;
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1rem;
  text-transform: capitalize;
  outline: none;
}
#header #nav-menu-container .nav-menu li:hover > a,
#header #nav-menu-container .nav-menu > .menu-active > a {
  color: #FFFFFF;
  position: relative;
}
#header #nav-menu-container .nav-menu li:hover > a:after,
#header #nav-menu-container .nav-menu > .menu-active > a:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ED2439;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%, 0);
}
#header #nav-menu-container .nav-menu > li {
  margin-left: 1rem;
}
#header #nav-menu-container .nav-menu > li:first-child {
  margin-left: 0;
}
#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px 0;
  height: 72px;
  /*transition: all 0.25s linear;*/
}
#header.header-scrolled .logo-header {
  display: block;
  padding-left: 60px;
}
#header.header-scrolled .logo-full {
  display: none;
}
#header.header-scrolled #nav-menu-container {
  float: right;
  margin: 0;
  padding-right: 60px;
}
/*---# Navigation Menu---*/
/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}
#mobile-nav-toggle i {
  color: #FFFFFF;
}
/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}
#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#mobile-nav ul li {
  position: relative;
}
#mobile-nav ul li a {
  color: #FFFFFF;
  font-size: 0.875rem;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
#mobile-nav ul li a:hover {
  color: #ED2439;
}
#mobile-nav ul li li {
  padding-left: 30px;
}
#mobile-nav ul li.menu-active a {
  color: #ED2439;
}
#mobile-nav ul .menu-item-active {
  color: #ED2439;
}
#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}
body.mobile-nav-active #mobile-nav {
  left: 0;
}
body.mobile-nav-active #mobile-nav-toggle {
  color: #FFFFFF;
}
.title-page {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}
.container {
  position: relative;
  z-index: 9;
}
/*---# Intro Section---*/
#intro {
  display: table;
  width: 100%;
  height: 100vh;
  background-size: cover !important;
  position: relative;
}
#intro:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
#intro .content-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
#intro .content-banner .title-banner {
  color: #E55E5E;
  font-size: 3.15vw;
  font-family: GeorgiaPro;
  text-align: center;
  height: 9.45vw;
  position: relative;
}
#intro .content-banner .title-banner:before {
  content: "";
  background: url(../img/title-left.png) no-repeat center;
  background-size: cover;
  width: 13.333vw;
  height: 4.935vw;
  position: absolute;
  top: 3.15vw;
  left: -4.2vw;
}
#intro .content-banner .title-banner:after {
  content: "";
  background: url(../img/title-right.png) no-repeat center;
  background-size: cover;
  width: 13.333vw;
  height: 4.935vw;
  position: absolute;
  top: 3.15vw;
  right: -4.2vw;
}
#intro .content-banner .info-banner {
  font-family: SignPainter;
  color: #FFFFFF;
  font-size: 2.4675vw;
  text-align: center;
  line-height: 1.25;
}
#intro .content-banner .info-banner span {
  font-size: 3.15vw;
  font-weight: bold;
}
#intro .content-banner .action-banner {
  margin-top: 1.25vw;
  text-align: center;
}
#intro .wave-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.btn-kiot {
  background-color: #BE1E2D;
  color: #FFFFFF !important;
  font-weight: 600;
  border-radius: 10em;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  position: relative;
  box-shadow: 0 0 0 0.75rem rgba(190, 30, 45, 0.25);
}
.btn-kiot:hover {
  animation: move 1s linear infinite;
}
.btn-kiot-primary {
  background-color: #7BAFF7;
  color: #FFFFFF !important;
  font-weight: 600;
  border-radius: 10em;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  position: relative;
  box-shadow: 0 0 0 0.75rem rgba(123, 175, 247, 0.25);
}
.btn-kiot-primary:hover {
  animation: move 1s linear infinite;
}
.btn-access {
  background-image: linear-gradient(to right, #EE2338, #2F4CC3);
  color: #FFFFFF !important;
  font-family: SignPainter;
  font-size: 1.75rem;
  letter-spacing: 1px;
  display: block;
  margin: 1rem 0;
  text-align: left;
  border-radius: 10em;
  padding: 0.75rem 1.5rem;
  padding-left: 3rem;
  position: relative;
}
.btn-access span {
  font-size: 2.25rem;
}
.btn-access:after {
  content: '\2713\0020';
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translate(0%, -50%);
  font-size: 1.75rem;
  color: #FFFFFF;
  transition: all 0.2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/*---# About Us Section---*/
#about {
  background-color: #F5F5F5;
  padding-top: 2rem;
  position: relative;
}
#about .background-about {
  position: absolute;
  top: -8%;
  left: 0;
  width: 100%;
  z-index: 1;
}
#about .line-about {
  position: absolute;
  left: 50%;
  top: -5.5vw;
  transform: translate(-50%, 0%);
  z-index: 1;
}
#about .section-about-first {
  padding-top: 2vw;
  padding-bottom: 5vw;
}
#about .section-about-last {
  position: relative;
  z-index: 2;
}
#about .title-page {
  color: #4B4B4B;
}
#about .list-item-about {
  background-color: #FFFFFF;
  padding: 2rem 0;
}
#about .list-item-about .list-info-about {
  padding-top: 2vw;
}
#about .list-item-about .item-list {
  position: relative;
  margin: 1.5rem 0;
}
#about .list-item-about .item-list .img-info {
  width: 8vw;
  height: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2C6C2D;
  margin-right: 2vw;
  float: left;
  position: relative;
}
#about .list-item-about .item-list .img-info:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  border-radius: 50%;
}
#about .list-item-about .item-list .img-info img {
  width: 100%;
}
#about .list-item-about .item-list .img-info span {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
}
#about .list-item-about .item-list .img-info.kiot-primary:before {
  content: "";
  border: 0.25rem solid #7BAFF7;
}
#about .list-item-about .item-list .img-info.kiot-primary span {
  background-color: #7BAFF7;
}
#about .list-item-about .item-list .img-info.kiot-light-danger:before {
  content: "";
  border: 0.25rem solid #E55E5E;
}
#about .list-item-about .item-list .img-info.kiot-light-danger span {
  background-color: #E55E5E;
}
#about .list-item-about .item-list .img-info.kiot-dark-danger:before {
  content: "";
  border: 0.25rem solid #A00606;
}
#about .list-item-about .item-list .img-info.kiot-dark-danger span {
  background-color: #A00606;
}
#about .list-item-about .item-list .img-info.kiot-green:before {
  content: "";
  border: 0.25rem solid #3FACA3;
}
#about .list-item-about .item-list .img-info.kiot-green span {
  background-color: #3FACA3;
}
#about .list-item-about .item-list .content-info {
  padding-left: 10vw;
  padding-right: 2vw;
}
#about .list-item-about .item-list .content-info h5 {
  font-weight: 600;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
#about .info-about {
  height: 100%;
  display: flex;
  align-items: center;
}
#about p {
  color: #7C7C7C;
  text-align: justify;
  line-height: 2;
}
#about .img-about {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
#about .img-about img {
  width: 100%;
  border-radius: 50%;
}
#about .img-about:before {
  content: "";
  width: 100%;
  height: 100%;
  border: 0.5rem solid #ED2439;
  position: absolute;
  top: 10%;
  left: 2%;
  border-radius: 50%;
}
#about .wave-top-about {
  width: 100%;
}
/*---# Nhượng Quyền---*/
#access {
  background-size: cover !important;
  position: relative;
  z-index: 2;
}
#access:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#access .wave-bot-about,
#access .wave-bot-access {
  width: 100%;
  position: relative;
  z-index: 3;
}
#access .title-page {
  color: #FFFFFF;
  text-align: center;
}
#access .desc-access {
  width: 60%;
  margin: 0 auto;
  color: #B9B9B9;
  text-align: center;
  line-height: 2;
}
#access .access-info {
  padding: 2rem 0;
}
#access .list-btn-access {
  width: 50%;
  margin: 3vw auto;
}
#access .list-access {
  margin: 2vw 0;
}
#access .list-access .margin-access {
  margin: 3rem 0;
}
#access .list-access .center-access {
  justify-content: center;
}
#access .list-access .access-item {
  text-align: center;
  padding: 1.5rem 2rem;
  padding-bottom: 2.5rem;
  border-radius: 0.5rem;
  background-color: #FFFFFF;
  height: 100%;
}
#access .list-access .access-item .access-number {
  font-size: 2rem;
  font-weight: 700;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #FFFFFF;
  margin: 0 auto;
  margin-top: -4rem;
  margin-bottom: 1rem;
}
#access .list-access .access-item .title-access {
  color: #000;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}
#access .list-access .access-item p {
  margin: 0;
}
#access .list-access .access-item.access-green .access-number {
  background-color: #3FACA3;
}
#access .list-access .access-item.access-primary .access-number {
  background-color: #7BAFF7;
}
#access .list-access .access-item.access-light-danger .access-number {
  background-color: #E55E5E;
}
#access .list-access .access-item.access-warning .access-number {
  background-color: #E36623;
}
#access .list-access .access-item.access-dark-danger .access-number {
  background-color: #A00606;
}
#access .list-btn-action {
  text-align: center;
  margin-bottom: 2.5vw;
}
#access .list-btn-action .btn {
  margin: 0 1rem;
}
/*---# Products---*/
#products {
  background-color: #FBFBFB;
  background-size: cover !important;
  position: relative;
  padding-bottom: 2.5vw;
  padding-top: 1.5vw;
}
#products:before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(#FBFBFB, rgba(255, 255, 255, 0));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#products .title-page {
  text-align: center;
  color: #000;
}
#products .desc-access {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  line-height: 2;
}
#products .list-products {
  margin-top: 3vw;
  margin-bottom: 5vw;
}
#products .list-products .item-product {
  height: 100%;
  text-align: center;
  position: relative;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}
#products .list-products .item-product .btn-readmore {
  color: #ED2439;
  padding: 0.25rem 0;
  font-weight: 600;
}
#products .list-products .item-product .btn-readmore:hover {
  color: #7BAFF7;
  cursor: pointer;
}
#products .list-products .item-product .description {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  overflow: hidden;
  z-index: 5;
  padding: 1rem;
}
#products .list-products .item-product img {
  width: 100%;
  margin: 0 auto;
}
#products .list-products .item-product .name-product {
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1rem 0;
  -webkit-transform: translateX(-80%);
  transform: translateX(-80%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
#products .list-products .item-product p {
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  /*-webkit-line-clamp: 3;
                height: 72px;*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-transform: translateX(80%);
  transform: translateX(80%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  font-size: small;
}
#products .list-products .item-product:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
#products .list-products .item-product:hover .description {
  opacity: 1;
}
#products .list-products .item-product:hover:before {
  content: "";
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
#products .list-products .item-product:hover:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  height: 90%;
  width: 90%;
  z-index: 3;
  border: 1px solid #FFFFFF;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
#products .list-products .item-product:hover .name-product {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
#products .list-products .item-product:hover p {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
#products .list-products-bot {
  margin: 2.5vw 0;
}
#products .list-products-bot .info-product {
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  padding: 1rem;
  padding-left: 3.5rem;
  margin-left: 2.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
#products .list-products-bot .info-product.active {
  border-color: #ED2439;
}
#products .list-products-bot .info-product:last-child {
  margin-bottom: 0;
}
#products .list-products-bot .info-product .number-product {
  font-size: 2rem;
  font-weight: 700;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: -2.5rem;
  transform: translate(0%, -50%);
}
#products .list-products-bot .info-product .number-product.product-green {
  background-color: #3FACA3;
}
#products .list-products-bot .info-product .number-product.product-primary {
  background-color: #7BAFF7;
}
#products .list-products-bot .info-product .number-product.product-light-danger {
  background-color: #E55E5E;
}
#products .list-products-bot .info-product .number-product.product-warning {
  background-color: #E36623;
}
#products .list-products-bot .info-product .number-product.product-danger {
  background-color: #EE2338;
}
#products .list-products-bot .info-product .number-product.product-dark-danger {
  background-color: #A00606;
}
#products .list-products-bot .info-product .title-product {
  font-size: 1.25rem;
  color: #000;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}
#products .list-products-bot .info-product p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  /*-webkit-line-clamp: 2;
                height: 50px;*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#products .list-products-bot .img-product {
  width: 90%;
  height: 100%;
  float: right;
  display: none;
}
#products .list-products-bot .img-product.active {
  display: block;
}
/*---# Contact Footer---*/
#contact {
  background-size: cover !important;
}
#contact .title-page {
  color: #FFFFFF;
  text-align: center;
}
#contact .desc-access {
  color: #ADADAD;
  width: 70%;
  margin: 1.5rem auto;
  text-align: center;
  line-height: 2;
}
#contact .form-register {
  padding: 2.5vw 0;
}
#contact .form-register .btn-kiot {
  border-radius: 10em;
}
#contact .form-row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
#contact .form-row > .col,
#contact .form-row > [class*=col-] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#contact .form-group {
  margin-bottom: 2rem;
}
#contact .form-control {
  background-color: transparent;
  border-radius: 0;
  border-color: #F2F2F2;
  padding: 0.75rem 1rem;
  /*height: unset;*/
  height: calc(2.25rem + 0.875rem);
  color: #FFFFFF;
}
#contact .form-control.is-invalid,
#contact .was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: 2.25rem;
}
#contact option {
  color: #000;
}
#contact label {
  color: #FFFFFF;
}
#contact .choose-all {
  color: #2196F3;
  text-decoration: underline;
}
#contact .choose-all:hover {
  text-decoration: unset;
  cursor: pointer;
}
#contact .list-check {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
#contact .list-partner {
  display: flex;
  flex-direction: row;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
#contact .list-partner .check-partner {
  position: relative;
  width: 150px;
  flex-grow: 1;
  padding: 0 0.75rem;
}
#contact .list-partner .check-partner * {
  cursor: pointer;
}
#contact .list-partner .check-partner input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#contact .list-partner .check-partner img {
  width: 100%;
  border: 0.25rem solid #FFF;
  border-radius: 10px;
}
#contact .list-partner .check-partner input[type=checkbox]:checked + img {
  border-color: #66B966;
}
#contact .checkbox {
  display: inline-block;
  position: relative;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
}
#contact .checkbox * {
  cursor: pointer;
}
#contact .checkbox input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#contact .checkbox label {
  background-color: #FFFFFF;
  padding: 0.75rem 1.5rem;
  color: #7C7C7C;
  text-align: center;
  margin: 0;
}
#contact .checkbox input[type=checkbox]:checked + label {
  background-color: #1F771F;
  color: #FFFFFF;
}
#contact .footer {
  position: relative;
  min-height: 200px;
}
#contact .footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}
#contact .footer .list-footer {
  padding: 2rem 0;
  color: #A2A2A2;
}
#contact .footer .list-footer img {
  width: 40%;
  margin-bottom: 1rem;
}
#contact .footer .list-footer h5 {
  color: #FFFFFF;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
#contact .footer .list-footer .list-link li {
  padding-left: 1rem;
  position: relative;
}
#contact .footer .list-footer .list-link li a {
  padding: 0.25rem 0;
  display: inline-block;
}
#contact .footer .list-footer .list-link li:after {
  content: "\f105";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  font-size: 1rem;
  color: #A2A2A2;
  transition: all 0.2s;
  font: normal normal normal 14px/1 FontAwesome;
}
#contact .footer .list-footer .list-contact li a {
  display: inline-block;
  padding: 0.25rem 0;
}
#contact .footer .list-footer .list-contact li i {
  display: inline-flex;
  width: 2rem;
  align-items: center;
}
#contact .footer .last-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 1px solid #343434;
}
#contact .footer .last-footer p {
  margin: 0;
}
#contact .footer .last-footer a {
  color: inherit;
  margin: 0 1rem;
}
#contact .footer .last-footer a:last-child {
  margin-right: 0;
}
#contact .footer .last-footer a:hover {
  text-decoration: underline;
}
#contact #btn-register-form {
  min-width: 250px;
}
/*--- RESPONSIVE ---*/
@media (max-width: 991.98px) {
  #nav-menu-container {
    display: none;
  }
  #mobile-nav-toggle {
    display: inline;
  }
  #header.header-scrolled .logo-header {
    float: unset;
    text-align: center;
    padding-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /*---# Intro Section---*/
  #intro .content-banner .title-banner {
    font-size: 6vw;
    height: 20vw;
  }
  #intro .content-banner .title-banner:before {
    content: "";
    width: 26.666vw;
    height: 9.87vw;
    top: 5.5vw;
    left: 5vw;
  }
  #intro .content-banner .title-banner:after {
    content: "";
    width: 26.666vw;
    height: 9.87vw;
    top: 5.5vw;
    right: 5vw;
  }
  #intro .content-banner .info-banner {
    font-size: 1.75rem;
    line-height: 1.25;
    white-space: nowrap;
    letter-spacing: 1px;
  }
  #intro .content-banner .info-banner span {
    font-size: 3rem;
  }
  #intro .content-banner .action-banner {
    margin-top: 1.5rem;
  }
  .title-page {
    font-size: 1.5rem;
  }
  .btn-access {
    padding: 0.25rem 1.5rem;
    padding-left: 3rem;
  }
  .center-mb {
    text-align: center;
  }
  /*---# About Us Section---*/
  #about {
    padding-top: 1.5rem;
  }
  #about .title-page {
    text-align: center;
  }
  #about p.w-75 {
    width: 90% !important;
    margin: 0 auto;
    text-align: center;
  }
  #about .section-about-first {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  #about .list-item-about {
    padding: 1.5rem 0;
  }
  #about .list-item-about .list-info-about {
    padding-top: 0.5rem;
    width: 85%;
    margin: 0 auto;
  }
  #about .list-item-about .item-list .img-info {
    width: 8rem;
    height: 8rem;
    margin-right: 2rem;
  }
  #about .list-item-about .item-list .content-info {
    padding-left: 10rem;
    padding-right: 2rem;
  }
  #about .img-about {
    width: 85%;
  }
  #about .img-about:before {
    content: "";
    border: 0.375rem solid #ED2439;
  }
  /*---# Nhượng Quyền---*/
  #access .wave-bot-about {
    margin-top: -1px;
  }
  #access .wave-bot-access {
    margin-bottom: -1px;
  }
  #access .desc-access {
    width: 90%;
  }
  #access .access-info {
    padding: 1.5rem 0;
  }
  #access .list-btn-access {
    width: 65%;
    margin: 1.5rem auto;
  }
  #access .list-access {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  #access .list-access .margin-access {
    margin: 2rem 0;
  }
  #access .list-access .access-item {
    padding: 1rem 1.25rem;
    padding-bottom: 1.75rem;
  }
  #access .list-access .access-item .access-number {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  #access .list-btn-action {
    margin: 1.5rem 0;
  }
  /*---# Products---*/
  #products {
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
  #products .desc-access {
    width: 90%;
  }
  #products .list-products {
    margin: 1rem 0;
  }
  #products .list-products .item-product .name-product {
    margin: 0.5rem 0;
    margin-top: 1rem;
  }
  #products .list-products-bot {
    margin: 1.5rem 0;
  }
  #products .list-products-bot .img-product {
    width: 40%;
    height: unset;
    float: unset;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  /*---# Contact Footer---*/
  #contact .desc-access {
    width: 90%;
  }
  #contact .form-register {
    padding: 2rem 0;
  }
  #contact form {
    margin-top: 1rem;
  }
  #contact .footer .list-footer {
    padding: 1rem 0;
  }
  #contact .footer .list-footer img {
    width: 25%;
  }
  #contact .footer .list-footer h5 {
    margin-top: 1rem;
  }
  #contact #contact #btn-register-form {
    min-width: 175px;
  }
}
@media (max-width: 767.98px) {
  #intro .content-banner {
    width: 90%;
    top: 45%;
  }
  #intro .content-banner .title-banner {
    font-size: 6vw;
    height: 20vw;
  }
  #intro .content-banner .title-banner:before {
    content: "";
    width: 26.666vw;
    height: 9.87vw;
    top: 5.5vw;
    left: 5vw;
  }
  #intro .content-banner .title-banner:after {
    content: "";
    width: 26.666vw;
    height: 9.87vw;
    top: 5.5vw;
    right: 5vw;
  }
  #intro .content-banner .info-banner {
    font-size: 1.125rem;
  }
  #intro .content-banner .info-banner span {
    font-size: 1.75rem;
  }
  #intro .content-banner .action-banner {
    margin-top: 1.5rem;
  }
  .btn-kiot {
    padding: 0.5rem 2rem;
    font-size: 0.875rem;
    box-shadow: 0 0 0 0.5rem rgba(190, 30, 45, 0.25);
  }
  .title-page {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .btn-access {
    padding: 0.25rem 1.5rem;
    padding-left: 3rem;
    font-size: 1.25rem;
  }
  .btn-access span {
    font-size: 1.75rem;
  }
  p {
    margin-bottom: 0.5rem;
  }
  .center-mb {
    text-align: center;
  }
  /*---# About Us Section---*/
  #about {
    padding-top: 1rem;
  }
  #about .title-page {
    text-align: center;
  }
  #about p.w-75 {
    width: 90% !important;
    margin: 0 auto;
    text-align: center;
  }
  #about .section-about-first {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  #about .list-item-about {
    padding: 1.5rem 0;
  }
  #about .list-item-about .list-info-about {
    padding-top: 1rem;
    margin: 0 auto;
  }
  #about .list-item-about .item-list {
    margin: 1rem 0;
  }
  #about .list-item-about .item-list .img-info {
    width: 10rem;
    height: 10rem;
    float: unset;
    margin: 0 auto;
  }
  #about .list-item-about .item-list .content-info {
    padding: 0;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  #about .line-about {
    display: none;
  }
  #about .img-about {
    width: 75%;
    margin-top: 1rem;
  }
  #about .img-about:before {
    content: "";
    border: 0.375rem solid #ED2439;
  }
  /*---# Nhượng Quyền---*/
  #access .wave-bot-about {
    margin-top: -1px;
  }
  #access .wave-bot-access {
    margin-bottom: -1px;
  }
  #access .desc-access {
    width: 90%;
  }
  #access .access-info {
    padding: 1.5rem 0;
  }
  #access .list-btn-access {
    width: 90%;
    margin: 1.5rem auto;
  }
  #access .list-access {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  #access .list-access .margin-access {
    margin: 1.5rem 0;
  }
  #access .list-access .access-item {
    padding: 1rem 1.25rem;
    padding-bottom: 1.75rem;
  }
  #access .list-access .access-item .access-number {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    margin-top: -3rem;
  }
  #access .list-access .access-item .title-access {
    font-size: 1.25rem;
  }
  #access .list-btn-action {
    margin: 1rem 0;
  }
  #access .list-btn-action .btn-kiot-primary {
    margin-bottom: 1.5rem;
    padding: 0.5rem 2rem;
    font-size: 0.875rem;
    box-shadow: 0 0 0 0.5rem rgba(123, 175, 247, 0.25);
  }
  /*---# Products---*/
  #products {
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
  #products .desc-access {
    width: 90%;
  }
  #products .list-products {
    margin: 1rem 0;
  }
  #products .list-products .item-product .name-product {
    margin: 0.5rem 0;
    margin-top: 1rem;
  }
  #products .list-products-bot {
    margin: 1.5rem 0;
  }
  #products .list-products-bot .info-product {
    padding-left: 2.5rem;
    margin-left: 1.75rem;
    margin-bottom: 1.5rem;
  }
  #products .list-products-bot .info-product .number-product {
    font-size: 1.5rem;
    font-weight: 600;
    width: 3.5rem;
    height: 3.5rem;
    left: -1.75rem;
  }
  #products .list-products-bot .info-product .title-product {
    font-size: 1.125rem;
    margin-bottom: 0.25rem;
  }
  #products .list-products-bot .info-product p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    /*-webkit-line-clamp: 2;
                height: 50px;*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  #products .list-products-bot .img-product {
    width: 40%;
    height: unset;
    float: unset;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  /*---# Contact Footer---*/
  #contact .desc-access {
    width: 90%;
  }
  #contact .form-register {
    padding: 2rem 0;
    padding-bottom: 0.5rem;
  }
  #contact form {
    margin-top: 1rem;
  }
  #contact .form-group {
    margin-bottom: 1.5rem;
  }
  #contact .footer .list-footer {
    padding: 1rem 0;
  }
  #contact .footer .list-footer img {
    width: 25%;
  }
  #contact .footer .list-footer h5 {
    margin-top: 1rem;
  }
  #contact #btn-register-form {
    min-width: 150px;
  }
}
@keyframes move {
  0% {
    box-shadow: 0 0 0 0.75rem rgba(190, 30, 45, 0.25);
  }
  100% {
    box-shadow: 0 0 0 1.25rem rgba(190, 30, 45, 0.1);
  }
}